@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
  font-family: "Poppins", system-ui;
}

h4{
  margin: 0!important;
}


p{
  margin: 0!important;
}

